@use 'sass:math';
@import 'styles/variables';

.container {
	line-height: 2rem;
	padding: 3px ($spacing-max + math.div($spacing-min, 3)) 0 $spacing-min;
	background-color: #fff;
	border: 2px solid #aaa;
	color: #333;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1rem;
	position: relative;
	text-transform: uppercase;

	&::after {
		width: 23px;
		height: 46px;
		background-color: $skydottir-red;
		content: '';
		mask: url(./bolt.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		top: -5px;
		right: 7px;
		position: absolute;
		transition: 0.12s transform ease-in;
	}

	&:hover {
		&::after {
			transform: scale(1.12, 1.12);
		}
	}

	@media only screen and (min-width: $screen-med) {
		border-width: 4px;
		line-height: 38px;
		padding: 3px ($spacing-max + $spacing-min) 0 ($spacing-min + math.div($spacing-min, 2));
		font-size: 1.2rem;

		&::after {
			width: 29px;
			height: 58px;
			top: -8px;
			right: 8px;
		}
	}
}

.blue {
	&::after {
		background-color: $skydottir-blue;
	}
}
