@import 'styles/variables';

.container {
	line-height: 2rem;
	padding: 3px ($spacing-max + $spacing-min / 3) 0 $spacing-min;
	background-color: #444;
	color: #fff;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1rem;
	position: relative;
	text-transform: uppercase;

	&::after {
		width: 22px;
		height: 44px;
		background-color: $skydottir-blue;
		content: '';
		mask: url(./bolt.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		top: -4px;
		right: $spacing-min / 2;
		position: absolute;
		transition: 0.12s transform ease-in;
	}

	&:hover {
		&::after {
			transform: scale(1.12, 1.12);
		}
	}

	@media only screen and (min-width: $screen-med) {
		line-height: 38px;
		padding: 3px ($spacing-max + $spacing-min) 0 ($spacing-min + $spacing-min / 2);
		font-size: 1.2rem;

		&::after {
			width: 26px;
			height: 52px;
			top: -5px;
			right: 12px;
		}
	}
}
