@use 'sass:math';
@import 'styles/variables';

.container {
	max-width: $screen-lrg;
	min-height: 100vh;
	margin: 0 auto;
	padding: $spacing-min $spacing-min 0 $spacing-min;
	display: flex;
	position: relative;
	z-index: 1;

	@media only screen and (min-width: $screen-med) {
		padding: $spacing-max $spacing-max 0 $spacing-max;
	}
}

.columnLeft {
	width: 85%;
	padding-right: math.div($spacing-min, 2);
	display: flex;
	flex-direction: column;
	position: relative;

	@media only screen and (min-width: $screen-med) {
		width: 90%;
		padding-right: math.div($spacing-max, 2);
	}
}

.columnRight {
	width: 15%;
	padding-left: math.div($spacing-min, 2);

	@media only screen and (min-width: $screen-med) {
		width: 10%;
		padding-left: math.div($spacing-max, 2);
	}
}
