@import 'styles/variables';

.container {
	padding-top: $spacing-max;

	header {
		background-image: linear-gradient(#fff 30%, #eee 0%, #eee 70%);

		img {
			width: 200px;
			height: auto;
		}
	}

	article {
		padding: $spacing-min $spacing-max;
		background-color: #eee;
	}

	footer {
		padding: $spacing-min $spacing-min ($spacing-max * 2);
		background-color: #eee;
		display: flex;
		justify-content: space-around;
	}

	@media only screen and (min-width: $screen-med) {
		font-size: 1.25rem;

		header {
			img {
				width: 256px;
			}
		}

		article {
			padding-right: $spacing-max * 2;
			padding-left: $spacing-max * 2;
		}

		footer {
			justify-content: space-evenly;
		}
	}

	@media only screen and (min-width: $screen-lrg) {
		font-size: 1.375rem;

		header {
			img {
				width: 325px;
			}
		}

		article {
			padding: $spacing-max ($spacing-max * 3);
		}

		footer {
			padding-bottom: $spacing-max * 3;
		}
	}
}
