@import 'styles/variables';

.container {
	padding-top: $spacing-min;

	header {
		background-image: linear-gradient(#fff 68%, #eee 0%, #eee 32%);
	}

	article {
		padding: $spacing-min $spacing-max;
		background-color: #eee;
	}

	footer {
		padding: $spacing-min $spacing-min ($spacing-max * 2);
		background-color: #eee;
		display: flex;
		justify-content: space-around;
	}

	@media only screen and (min-width: $screen-med) {
		font-size: 1.25rem;

		article {
			padding: $spacing-max ($spacing-max * 2);
		}

		footer {
			justify-content: space-evenly;
		}
	}

	@media only screen and (min-width: $screen-lrg) {
		font-size: 1.375rem;

		article {
			padding: $spacing-max ($spacing-max * 3);
		}

		footer {
			padding-bottom: $spacing-max * 3;
		}
	}
}

.logo {
	width: 230px;
	height: auto;

	@media only screen and (min-width: $screen-med) {
		width: 350px;
	}

	@media only screen and (min-width: $screen-lrg) {
		width: 400px;
	}
}
