@import 'styles/variables';

.container {
	width: 100%;
	background-color: $skydottir-red;
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 0.8rem;
	text-align: left;

	@media only screen and (min-width: $screen-med) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		font-size: 1rem;
	}
}
