@use 'sass:math';
@import 'styles/variables';

.container {
	margin-top: 80px;
	padding-top: $spacing-min + math.div($spacing-min, 2);
	top: 0;
	left: 0;
	position: sticky;

	ul {
		margin: 0;
		padding: 0;
		color: #666;
		font-size: 2rem;
		list-style: none;
	}

	li {
		margin-bottom: 1rem;
	}

	a {
		display: inline-block;
		transition: 0.12s all ease-in;

		&:hover {
			color: $skydottir-red;
			transform: scale(1.15, 1.15);
		}
	}

	@media only screen and (min-width: $screen-med) {
		margin-top: 110px;
		padding-top: $spacing-max;

		ul {
			font-size: 2.5rem;
		}
	}
}
