// containers
// --------------------------------------------------

.container {
	width: 100%;
	padding: $spacing-min;

	@media only screen and (min-width: $screen-med) {
		padding: $spacing-max;
	}
}
