// variables
// --------------------------------------------------

// colors
$skydottir-red: #a7272b;
$skydottir-blue: #0093b2;

// breakpoints
$screen-min: 320px;
$screen-med: 768px;
$screen-lrg: 1024px;
