@import 'variables';

html,
body {
	padding: 0;
	margin: 0;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	position: relative;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
