@import 'styles/variables';

.intro {
	padding: 0 $spacing-max $spacing-min;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;

	@media only screen and (min-width: $screen-med) {
		padding-right: $spacing-max * 2;
		padding-left: $spacing-max * 2;
		font-size: 30px;
	}

	@media only screen and (min-width: $screen-lrg) {
		padding-right: $spacing-max * 3;
		padding-left: $spacing-max * 3;
	}
}
